.container {
  margin: auto;
  width: 100%;
  font-family: sans-serif;
}

.title {
  font-weight: 700;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1em 2em;
}

.nav-logo {
  font-weight: 700;
  font-size: 1.2em;
  margin: 0;
}

.nav-title {
  font-weight: 700;
}

.links {
  flex: 0 1 25%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.main {
  padding: 0 15%;
}
