.container {
  margin: auto;
  max-width: 920px;
  font-family: sans-serif;
}

.title {
  font-weight: 700;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.links {
  flex: 0 1 25%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
